# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode

# Ignore compiled tests
tests/tests_vector
tests/tests_linked_list
tests/tests_dlinked_list
tests/tests_clinked_list
tests/tests_dictionary
tests/tests_queue
tests/tests_avl_tree
tests/tests_cbuffer
tests/tests_alist
tests/tests_heap
tests/tests_str
tests/tests_matrix

# Ignore compiled benchmarks
benchmarks/benchmarks_vector
benchmarks/benchmarks_linked_list
benchmarks/benchmarks_dlinked_list
benchmarks/benchmarks_clinked_list
benchmarks/benchmarks_dictionary
benchmarks/benchmarks_queue_cbuffer
benchmarks/benchmarks_avl_tree
benchmarks/benchmarks_heap
benchmarks/benchmarks_matrix

# Ignore local helper scripts
run_benchmarks.sh
run_tests.sh
install.sh
